$baseline-px:37.5px;
@function rem($px-values) {
    $baseline-rem: $baseline-px / 1rem * 1;
    $px-values: $px-values / $baseline-rem;
    @return $px-values;
}
.musicList{
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    height: 65%;
    width: 100%;
    background: rgba(255,255,255,.85);
    position: fixed;
    bottom:0;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    transition: all .3s linear;
    .listHeader{
        height: rem(50px);
        // background: #363B3D;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 rem(20px);
        img{
            width: auto;
            height: rem(25px);
            display: block;
        }
        h4{
            font-size: rem(17px);
            color: rgb(54,59,61);
        }
        .basis{
            flex-basis: rem(25px);
        }
    }
    .content{
        padding: rem(6px);
        flex: 1;
        overflow-y: auto;
        .ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            .li{
                width: 100%;
                border-bottom:1px solid #ddd;
                .musicBox{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: rem(12px) 0;
                    h3{
                        font-size: rem(16px);
                        font-weight: bold;
                        margin-bottom: rem(2px);
                        color: #333;
                    }
                    span{
                        color: #999;
                    }
                }
            }
        }
    }
}

.musicDown{
    composes: musicList;
    bottom:-100%;
}

.musicPage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .fuzzy{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        filter: blur(10px);
        width: 100%;
        height: 100%;
    }
}
.header{
    height: rem(50px);
    background: rgba(0,0,0,.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(20px);
    position: relative;
    z-index: 3;
    a{
        img{
            width: auto;
            height: rem(25px);
            display: block;
        }
    }
    h4{
        font-size: rem(17px);
        color: #fff;
    }
    .basis{
        flex-basis: rem(25px);
    }
}
.main{
    position: relative;
    z-index: 3;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,.2);
}
.mainBox{
    &>:global(.slider-frame){
        width: 100% !important;
        height: 100% !important;
        &>:global(.slider-list){
            width: 100% !important;
            height: 100% !important;
            &>:global(.slider-slide){
                width: 100% !important;
                height: 100% !important;
                display: flex!important;
                justify-content: center!important;
                align-items: center!important;
                flex-direction: column!important;
            }
        }
    }
}
.arc{
    width: rem(295px);
    height: rem(295px);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.1);
    position: relative;
    .img{
        width: rem(280px);
        height: rem(280px);
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1A1A1A;
        .disc{
            width: rem(200px);
            height: rem(200px);
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: auto;
                height: 100%;
                animation: rotate 15s linear infinite;
                &.pause{
                    animation-play-state: paused;
                }
            }
        }
    }
}
.arcHide{
    composes: arc;
    display: none;
}
.footer{
    position: relative;
    z-index: 3;
    width: 100%;
    background: rgba(0,0,0,.3);
    .time{
        width: 100%;
        display: flex;
        padding: rem(20px) rem(15px);
        align-items: center;
        .progressTime{
            flex: 1;
            margin: 0 rem(15px);
            padding: rem(5px) 0;
            .progressBox{
                width: 100%;
                height: 3px;
                background: #6D6D6D;
                position: relative;
                &>span{
                    height: 100%;
                    background: #AC4441;
                    display: block;
                }
                &>em{
                    position: absolute;
                    top: rem(-5px);
                    left: 0;
                    width: rem(13px);
                    height: rem(13px);
                    z-index: 97;
                    background: red;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-left: rem(-6.5px);
                }
            }
        }
        &>span{
            color: #fff;
        }
    }
    .musicBtn{
        width: 100%;
        height: rem(60px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(25px);
        .basis{
            flex-basis: rem(48px);
        }
        img{
            width: rem(26px);
            height: auto;
            margin: 0 rem(22px); 
            &.play{
                width: rem(44px);
            }
        }
    }
}


@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}